body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(115, 115, 230), rgb(123, 68, 123));
}

h1 {
    color: white;
    text-align: center; /* Center-align the text */
}

span {
    color: violet;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%; /* Make the input field fill the container */
    max-width: 300px; /* Default max-width */
    padding: 10px; /* Add padding for better spacing */
    margin-bottom: 20px; /* Add margin at the bottom */
    border: 1px solid white;
    background-image: linear-gradient(rgb(115, 115, 230), rgb(123, 68, 123));
    color: white;
}

button {
    width: 100%; /* Make the button fill the container */
    max-width: 300px; /* Default max-width */
    padding: 10px; /* Add padding for better spacing */
    border: 1px solid white;
    background-image: linear-gradient(rgb(49, 49, 143), rgb(212, 127, 141));
    color: white;
}

.justgrid {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center-align items */
}

.justgrid1 {
    width: 100px;
    height: 100px;
    margin: 10px; /* Adjust margin */
    align-items: center;
    background-image: linear-gradient(rgb(49, 49, 143), rgb(212, 127, 141));
    border-radius: 10px;
    display: flex; /* Add display flex to align items */
    justify-content: center; /* Center-align text */
    text-align: center; /* Center-align text */
}

/* Media queries for different screen sizes */
@media only screen and (min-width: 768px) {
    input, button {
        max-width: 500px; /* Adjust max-width for screens larger than 768px */
    }
}
